@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --toastify-color-progress-light: hsl(var(--nextui-primary));
  --toastify-color-progress-dark: hsl(var(--nextui-primary));
  --toastify-color-progress-success: hsl(var(--nextui-success));
  --toastify-icon-color-success: hsl(var(--nextui-success));
  --toastify-color-progress-warning: hsl(var(--nextui-warning));
  --toastify-icon-color-warning: hsl(var(--nextui-warning));
  --toastify-color-progress-error: hsl(var(--nextui-danger));
  --toastify-icon-color-error: hsl(var(--nextui-danger));
}

.scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scrollbar-thin::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.scrollbar::-webkit-scrollbar-track,
.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar::-webkit-scrollbar-thumb,
.scrollbar-thin::-webkit-scrollbar-thumb {
  background: hsla(var(--nextui-primary) / 50%);
  border-radius: 4px;
}

.scrollbar::-webkit-scrollbar-thumb:hover,
.scrollbar-thin::-webkit-scrollbar-thumb:hover {
  background: hsla(var(--nextui-primary));
}

.scrollbar::-webkit-scrollbar-corner,
.scrollbar-thin::-webkit-scrollbar-corner {
  background: transparent;
}
